$first_look: '../assets/first_look_crop.jpg';
$makeup: '../assets/makeupBG.jpg';
$clip_1: '../assets/clip_1.jpg';
$clip_2: '../assets/clip_2.jpg';
$clip_3: '../assets/clip_3.jpg';
$coming_soon: '../assets/coming_soon.jpg';

body, html {
  margin: 0;
}

body {
  background: black;
  color: white;
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

main {
  section {
    position: relative;

    .title {
      font-size: 2.66em;
      font-family: 'Didot';
      font-style: italic;
      letter-spacing: 0.133em;
      position: relative;
      z-index: 10;
      text-transform: uppercase;
    }

    .text-cont {
      position: relative;
      z-index: 1;

      .main {
        font-size: 1em;
        line-height: 2em;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0; left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    }

    &#first_look {
      &:after {
        height: 40px;
      }

      .bg {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: url($first_look);
        background-size: 100%;
        background-repeat: no-repeat;
      }

      .title {
        text-align: center;
        margin: 0;
        position: absolute;
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .sizer {
        width: 50%;
        margin: 0 auto;
        padding: 120px 0 40px;
        position: relative;
        z-index: 2;

        .vid-cont {
          position: relative;
          width: 100%;
          padding-bottom: 64%;

          iframe {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    &#makeup {
      .bg {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: url($makeup);
        background-size: 100%;
        background-repeat: no-repeat;
      }

      padding-bottom: 80px;
      width: 100%;
      overflow: hidden;

      .title {
        text-align: center;
        font-style: italic;
        margin: 0.33em 0;
      }


      p.main {
        width: 90%;
        position: relative;
        max-width: 550px;
        line-height: 2em;
        margin: 0 auto;
        padding-bottom: 2em;

      }

      .carousel-cont {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        position: relative;

        button {
          display: inline-block;
          cursor: pointer;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          width: 40px;
          background: none;
          border: none;
          z-index: 10;
          transition: opacity 0.33s ease;
          outline: none;

          &:first-of-type {
            right: 105%;
            &:hover, &:active {
              animation: back-btn-wiggle 0.33s;
            }
          }

          &:last-of-type {
            left: 105%;
            &:hover, &:active {
              animation: next-btn-wiggle 0.33s;
            }
          }

          svg {
            width: 100%;
          }

          &.passive {
            cursor: default;
            opacity: 0.5;
            animation: none!important;
          }
        }

        .wrapper {
          display: block;
          overflow: hidden;
        }

        ul {
          list-style-type: none;
          white-space: nowrap;
          display: inline-block;
          padding: 0; margin: 0;
          transition: transform 0.33s;

          li {
            display: inline-block;

            img {
              width: auto;
              height: auto;
              max-width: 100%;
              max-height: 100%;
            }
          }

          &.main {
            width: 100%;

            li {
              width: 100%;

            }
          }

          &.slider {
            width: 100%;
            overflow: scroll;

            &::-webkit-scrollbar {
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }

            li {
              width: 20%;
              cursor: pointer;
            }
          }
        }
      }
    }


    &.clip {
      padding: 80px 0;
      text-align: center;
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
      align-items: center;
      width: 100%;
      margin: 0 auto;

      .bg {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-position: 50% 0;
        background-repeat: no-repeat;
      }

      &#clip_1 .bg {
        background-image: url($clip_1);
      }
      &#clip_2 .bg {
        background-image: url($clip_2);
      }
      &#clip_3 .bg {
        background-image: url($clip_3);
      }


      .sizer {
        width: 60%;
        min-width: 550px;
        max-width: 700px;
        display: inline-block;
        vertical-align: middle;
      }

      .vid-cont {
        width: 100%;
        position: relative;
        padding-bottom: 62.5%;

        iframe {
          position: absolute;
          top: 0; left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .text-cont {
        .bg {
          display: none;
          position: absolute;
          top: 0; left: 0; right: 0; bottom: 0;
          background-size: auto 100%;
          background-position: 60% center;
          background-repeat: no-repeat;
        }
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        width: 30%;
        max-width: 350px;
        padding: 0 20px;
        box-sizing: border-box;

        .title {
          font-style: italic;
          margin: 0;
          font-size: 2em;
        }
      }
    }

    &#directors {

      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
      align-items: center;

      img {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        min-width: 550px;
        max-width: 700px;
      }

      .text-cont {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        max-width: 350px;
        padding: 0 20px;
        box-sizing: border-box;

        .title {
          font-size: 2em;
          font-style: italic;
          margin: 0;
        }
      }
    }

    &#coming_soon {
      width: 100%;
      margin-top: 2em;

      &:after {
        display: none;
      }

      .bg-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;


        .shadower {
          position: relative;
          overflow: hidden;

          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0; left: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
          }
        }

        img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }

      .text-cont {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
          margin: 0;
          padding: 100px 0;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  main {
    section {

      .title {
        font-size: 7vw!important;
      }

      .text-cont {
        .main {
          font-size: 0.9em;
        }
      }

      &#first_look {

        &:after {
          display: none;
        }

        .sizer {
          width: 90%;
          margin: 0 auto;
          padding: 1em 0 20px;

          .vid-cont {
            padding-bottom: 68%;
          }
        }
        .title {
          position: relative;
          width: 30%;
          margin: 0 auto;
          height: 46vw;
          font-size: 10vw;
          line-height: 13vw;
        }
      }

      &#makeup {
        padding: 60px 0 60px;

        &:after {
          height: 80px;
        }

        .title {
          padding-top: 40;
        }
        .carousel-cont {
          button {
            top: 44%;
            &:first-of-type {
              right: auto;
              left: 1%;
            }
            &:last-of-type {
              left: auto;
              right: 1%;
            }
          }
        }
      }

      &.clip {
        display: flex;
        background-image: none!important;
        padding: 0;

        > .bg {
          display: none;
        }

        &:after {
          display: none;
        }

        .sizer {
          display: block;
          margin: 0 auto;
          width: 90%;
          max-width: none;
          min-width: auto;
          order: 2;
          padding-bottom: 2em;

          .vid-cont {
            padding-bottom: 68%;
          }
        }
        .text-cont {
          position: relative;
          width: 100%;
          padding: 60px 5% 1em;
          margin: 0px auto 0;
          display: block;
          max-width: none;

          .bg {
            display: block;
          }

          &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100px;
            z-index: 0;
          }

          &:before {
            top: 0;
            background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
          }

          &:after {
            bottom: 0;
            background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
          }

          .title, .main {
            position: relative;
            z-index: 1;
          }
        }



        &#clip_3 {
          .text-cont {
            h1 {
              text-align: right;
            }
          }
        }
      }

      &#directors {
        display: block;
        padding: 30px 0;

        &:after {
          display: none;
        }

        img {
          display: block;
          width: 90%;
          margin: 0 auto;
          max-width: none;
          min-width: auto;
        }
        .text-cont {
          width: 100%;
          padding: 0 5%;
          margin: 0 auto;
          display: block;
          max-width: none;
          margin-top: 30px;
        }
      }
    }
  }
}


@keyframes back-btn-wiggle {
  50% {
    transform: translate(-10%, -50%)
  }
  100% {
    transform: translate(0%, -50%)
  }
}

@keyframes next-btn-wiggle {
  50% {
    transform: translate(10%, -50%)
  }
  100% {
    transform: translate(0%, -50%)
  }
}

@font-face {
  font-family: 'Didot';
  src: url('../assets/fonts/Didot-Italic.eot');
  src: url('../assets/fonts/Didot-Italic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Didot-Italic.woff') format('woff'),
    url('../assets/fonts/Didot-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Didot';
  src: url('../assets/fonts/Didot-Bold.eot');
  src: url('../assets/fonts/Didot-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Didot-Bold.woff') format('woff'),
    url('../assets/fonts/Didot-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Didot';
  src: url('../assets/fonts/Didot.eot');
  src: url('../assets/fonts/Didot.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Didot.woff') format('woff'),
    url('../assets/fonts/Didot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

